@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
/*--------Variable--------*/
$primary : #9356DC;
$secondary : #FF79DA;
$tertary : #99E2D0;

body {
    margin: 0;
    font-family:"Roboto";
}
button {
    border: none;
}
h1, h2, h3 {
    margin: 0;
}
.btn {
    border-radius: 25px;
    padding: 15px 25px;
    color: #fff;
    background: linear-gradient($secondary, $primary 80%);
    font-weight: bold;
}

.header {
    margin-top: 10px;
    .header__logo {
        text-align: center;
        padding: 10px;
    }
    .header__location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        padding: 15px;
        .header__location--icon {
            margin: 0 15px;
        }
    }
    .header__banner {
        text-align: center;
        padding: 35px;
        background-color: #f5f5f5;
        .header__banner--title {
            font-size: 24px;
        }
        .header__banner--text {
            font-size: 18px;
            margin: 15px;
        } 
    }
}


